* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  background: #1a1a1a;
  color: #f9f9f9;
  font-family: "Euclid Circular A", "Poppins";
}

.textbox {
  position: relative;
}

.textbox select,
.textbox input {
  width: 260px;
  height: 40px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid #df2666;
  padding: 0 2px 0 10px;
  font-size: 17px;
  font-family: inherit;
  color: rgb(255 255 255 / 96%);
  outline: none;
}

.textbox select option {
  background: #1a1a1a;
}

.textbox select:valid,
.textbox input:valid {
  border-color: #26dfae;
}
.textbox select:valid,
.textbox input:valid,
.textbox select:valid ~ :is(.asterix, .icon),
.textbox input:valid ~ :is(.asterix, .icon) {
  animation: none;
}

.textbox :is(select:valid) ~ .asterix,
.textbox :is(input:valid) ~ .asterix {
  opacity: 0;
}

@keyframes shake {
  0%,
  100% {
    translate: 0;
  }
  25% {
    translate: 8px 0;
  }
  75% {
    translate: -8px 0;
  }
}

.textbox .asterix {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 22px;
  pointer-events: none;
  color: #df2666;
}

.textbox input,
.textbox select,
.textbox .icon,
.textbox .asterix {
  animation: shake 0.1635s 0s 3;
}

.form-date[type="date"]:focus {
  color-scheme: dark;
}

.form-date[type="date"]::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}
